<div class="field">
  <%= f.label f.object.label_name %><br />
  <%= f.select :data, options_for_select([["S", "S"], ["M", "M"], ["L", "L"], ["XL", "XL"]], JSON.parse(f.object.data)), {}, {multiple: true} %>
</div>